@keyframes OpeningSite {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }

    100% {
        background-color: var(--colorBack);
    }
}

@keyframes ComeToLeft {
    0% {
        left: -1000px;
    }

    100% {
        left: 0;
    }
}

@keyframes ComeToRight {
    0% {
        right: -1000px;
    }

    100% {
        right: 0;
    }
}

@keyframes ComeToBottom {
    0% {
        bottom: -1000px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes Appear {
    0% {
        display: none;
        width: 0;
        height: 0;
    }

    1% {
        display: block;
    }


    100% {
        width: 100%;
        height: auto;
    }
}