/*GLOBALS*/
:root {
    --colorBack: #1E1E1E;
    --colorFont: #83bce6;
    --colorFont2: #e7e7e7;
    --colorShadow: #003E6B1A;
    --colorButton: rgb(137, 82, 0);
    --colorBtnHover: rgb(198, 119, 0);
    --colorIcon: rgb(0, 96, 102);
    --boxShadow: 10px 10px 20px 0px rgba(151, 91, 0, 0.331);
    --fontTitle: 'Overpass Mono', monospace;
    --fontNormal: 'Montserrat', sans-serif;
    --sizeTitle: 40px;
    --sizeSubTitle: 30px;
    --sizeText: 20px;
    --sizeMobileText: 2.3vw;
    --radius: 5px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--fontNormal);
    font-size: var(--sizeText);
    color: var(--colorFont);
}