body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}


/**********HEADER********************************/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--fontTitle);
    padding-top: 100px;
    padding-bottom: 20px;
    z-index: 1;
    font-size: var(--sizeTitle);
    letter-spacing: 5px;
}

header img {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

header p {
    z-index: 1;
    font-size: var(--fontText);
}

/**********MAIN*************************/

main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main>* {
    z-index: inherit;
}

section {
    margin: 40px 0;
    padding: 20px;
    width: 100%;
}

.serviceSection {
    margin: 40px auto;
    padding: 20px;
    border: solid 1px var(--colorBtnHover);
    border-radius: 20px;
    width: 75%;
}

.titleAndReturn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.titleAndReturn a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.titleAndReturn img {
    width: 35px;
    height: 35px;
}

.serviceSection h2 {
    text-decoration-line: underline;
    text-decoration-color: var(--colorBtnHover);
}

/**********NAV*************************/

#navSection nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 200px;
}

#navSection nav div {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--colorFont);
    padding: 3px;
    width: 48%;
    min-width: 460px;
}

.comeToLeft {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: end;
}

.comeToRight {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: start;
}

.come1st {
    top: 0px;
    animation: ComeToLeft 1s;
}

.come2nd {
    top: 40px;
    animation: ComeToRight 1.3s;
}

.come3rd {
    top: 80px;
    animation: ComeToLeft 1.6s;
}

.come4th {
    top: 120px;
    animation: ComeToRight 1.9s;
}

.come5th {
    top: 160px;
    animation: ComeToLeft 2.2s;
}

#callToContact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    animation: ComeToRight 2.5s;
}

a {
    text-decoration: none;
    font-size: var(--sizeText);
}

.linkBtn {
    background-color: var(--colorButton);
    text-align: center;
    color: var(--colorFont2);
    border-radius: 20px;
    padding: 10px 15px;
    transition: 0.2s;
}

.linkBtn:hover {
    background-color: var(--colorBtnHover);
    transition: 0.2s;
}

/**********HELLOSECTION***********************/

#helloSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--colorShadow);
    width: 65%;
    max-width: 750px;
    gap: 35px;
    margin: 0 auto;
    padding: 40px;
    animation: ComeToLeft 2.6s;
}

#helloSection h2 {
    width: 75%;
}

#presentation {
    display: flex;
}

#helloSection .profil {
    position: absolute;
    border: 15px solid var(--colorBack);
    top: -35px;
    left: -40px;
    transform: rotate(-2deg);
    width: 20vw;
    max-width: 220px;
    height: 20vw;
    max-height: 220px;
    shape-outside: content-box;
}

#description {
    width: 70%;
    height: min-content;
    text-align: justify;
}

.centeredText {
    width: 100%;
    text-align: center;
}

#helloSection nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/**********ACCUEIL*************************/

.sectionIcon {
    width: 297px;
    height: 297px;
}

h2 {
    padding: 20px;
    font-family: var(--fontTitle);
    font-size: var(--sizeTitle);
    text-align: center;
    z-index: 21;
    background-color: var(--boxShadow);
}

.whatICanDo {
    text-align: center;
}

.sectionContent {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 1000px;
}

.content {
    background-color: var(--colorShadow);
    padding: 2vw;
    text-align: center;
    transition: 0.3s
}

.content:hover {
    box-shadow: var(--boxShadow);
    -webkit-box-shadow: var(--boxShadow);
    -moz-box-shadow: var(--boxShadow);
    transition: 0.3s
}

.sectionContent p {
    font-size: 15px;
}

.content.r1 {
    transform: rotate(-1deg);
}

.content.r1>* {
    transform: rotate(1deg);
}

.content.r2 {
    transform: rotate(1deg);
}

.content.r2>* {
    transform: rotate(-1deg);
}

.content h3 {
    font-size: 2.5vw;
    padding-bottom: 20px;
}

/**********PORTFOLIO********************************/

.mySection {
    margin: 0px auto;
    width: 1200px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.mySection article {
    padding: 40px;
    display: flex;
    background: var(--colorShadow);
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.mySection article.r1 {
    transform: rotate(-1deg);
}

.mySection article.r1>* {
    transform: rotate(1deg);
}

.mySection article.r2 {
    transform: rotate(1deg);
}

.mySection article.r2>* {
    transform: rotate(-1deg);
}

.mySection h3 {
    background-color: var(--boxShadow);
}

.mySection article div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--boxShadow);
}

.technoIcon {
    width: 64px;
    height: 64px;
    transition: 0.3s;
}

.technoIcon:hover {
    animation: TechnoAwake 0.5s;
}

.hoverItem {
    z-index: 21;
    animation: technoInfo 0.5s;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

#myTools article {
    padding-bottom: 30px;
}

.projectDescription {
    text-align: center;
}

.laptopViewer {
    position: relative;
    display: flex;
    width: 700px;
    z-index: 20;
    transform: rotate(-1deg);
}

.laptopViewerContent {
    z-index: 19;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.mobileViewer {
    z-index: 20;
    display: flex;
    width: 300px;
    position: relative;
    transform: rotate(1deg);
}

.mobileViewerContent {
    z-index: 19;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.projectLinks {
    display: flex;
    gap: 30px;
}

.projectLinks li {
    list-style: none;
}

/**********FOOTER************************************/

footer {
    z-index: 1;
}

/**********BREAKPOINT 910***************************/

@media only screen and (max-width: 910px) {

    #helloSection {
        padding: 30px;
    }

    #description {
        width: 100%;
    }

    #helloSection nav {
        flex-wrap: wrap;
        gap: 5px;
    }
}