body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**********HEADER********************************/

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: var(--fontTitle);
    padding-top: 100px;
    padding-bottom: 20px;
    z-index: 1;
    font-size: var(--sizeTitle);
    letter-spacing: 5px;
}

header img {
    position: absolute;
    width: 200px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

header p {
    z-index: 1;
    font-size: var(--fontText);
}

/**********MAIN*************************/

main {
    width: 100%;
    z-index: 1;
    overflow-x: hidden;
}

main>* {
    z-index: inherit;
}

section {
    margin: 40px 0;
    width: 100%;
}

/**********NAV*************************/

#navSection nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 200px;
}

#navSection nav div {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid var(--colorFont);
    padding: 3px;
    width: 48%;
    min-width: 460px;
}

.comeToLeft {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: end;
}

.comeToRight {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: start;
}

.come1st {
    top: 0px;
    animation: ComeToLeft 1s;
}

.come2nd {
    top: 40px;
    animation: ComeToRight 1.3s;
}

.come3rd {
    top: 80px;
    animation: ComeToLeft 1.6s;
}

.come4th {
    top: 120px;
    animation: ComeToRight 1.9s;
}

.come5th {
    top: 160px;
    animation: ComeToLeft 2.2s;
}

#callToContact {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    animation: ComeToRight 2.5s;
}

a {
    text-decoration: none;
    font-size: var(--sizeText);
}

.linkBtn {
    background-color: var(--colorButton);
    text-align: center;
    color: var(--colorFont2);
    border-radius: 20px;
    padding: 10px 15px;
    transition: 0.2s;
}

.linkBtn:hover {
    background-color: var(--colorBtnHover);
    transition: 0.2s;
}

/**********HELLOSECTION***********************/

#helloSection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--colorShadow);
    width: 65%;
    max-width: 750px;
    gap: 35px;
    margin: 0 auto;
    padding: 40px;
    animation: ComeToLeft 2.6s;
}

#helloSection h2 {
    width: 75%;
}

#presentation {
    display: flex;
}

#helloSection .profil {
    position: absolute;
    border: 15px solid var(--colorBack);
    top: -35px;
    left: -40px;
    transform: rotate(-2deg);
    width: 20vw;
    max-width: 250px;
    height: 20vw;
    max-height: 270px;
    shape-outside: content-box;
}

#description {
    width: 70%;
    height: min-content;
    text-align: justify;
}

#technoList {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}

.centeredText {
    width: 100%;
    text-align: center;
}

#helloSection nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/**********PROJECTSECTION*************************/

#projectSection {
    padding: 20px;
}

h2 {
    padding: 20px;
    font-family: var(--fontTitle);
    font-size: var(--sizeTitle);
    text-align: center;
}

.whatICanDo {
    text-align: center;
}

.sectionContent {
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 75%;
    max-width: 1000px;
}

.content {
    background-color: var(--colorShadow);
    padding: 2vw;
    text-align: center;
}

.sectionContent p {
    font-size: 15px;
}

.content.r1 {
    transform: rotate(-1deg);
}

.content.r1>* {
    transform: rotate(1deg);
}

.content.r2 {
    transform: rotate(1deg);
}

.content.r2>* {
    transform: rotate(-1deg);
}

.content h3 {
    font-size: 3.5vw;
    padding-bottom: 20px;
}

@media only screen and (max-width: 910px) {

    #helloSection {
        padding: 30px;
    }

    #description {
        width: 100%;
    }

    #helloSection nav {
        flex-wrap: wrap;
        gap: 5px;
    }

    #technoList img {
        width: 7%;
    }
}