body {
    font-size: var(--sizeMobileText);
}

h1,
h2 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

header img {
    width: 80px;
    top: 5px;
}

header p {
    font-size: var(--sizeMobileText);
}

#navSection nav div {
    min-width: 320px;
}

a {
    font-size: var(--sizeMobileText);
}

p {
    font-size: var(--sizeMobileText);
}

.come1st {
    top: 0px;
}

.come2nd {
    top: 25px;
}

.come3rd {
    top: 50px;
}

.come4th {
    top: 75px;
}

.come5th {
    top: 100px;
}

#navSection nav {
    height: 120px;
}

#helloSection {
    width: 75%;
    gap: 3vw;
}

#helloSection .profil {
    top: -10px;
    left: -10px;
}

#helloSection h2 {
    padding: 3vw;
}

#helloSection .profil {
    border: 10px solid var(--colorBack);
}

.sectionContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sectionContent div {
    width: 95%;
    padding: 20px;
}

.sectionContent img {
    width: 128px;
    height: 128px;
}

.content h3 {
    font-size: 6vw;
    padding-bottom: 20px;
}